<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="user">

	<!-- 멤버 로그인 -->
	<select id="getMemberFromLogin" parameterType="String" resultType="dto.MemberDto">
 		select * from member_gg where member_email=#{member_email}
 	</select>
 		
	 <!-- 멤버 상태 체크 -->
 	<select id="checkStatus" parameterType="String" resultType="String">
		select member_status from member_gg where member_email=#{member_email}
 	</select>
 	
 	<!-- 내정보 보기를 위한 멤버정보  -->
 	<select id="getMemberFromMypage" parameterType="int" resultType="dto.MemberDto">
 		select * from member_gg where member_id=#{member_id}
 	</select>
 	
 	 <!-- 멤버 상태 변경(휴먼) -->
 	<update id="activateStatusFromLogin" parameterType="int">
 		update member_gg set member_status = 'active' where member_id = #{member_id}
 	</update>
 	
 	<!-- 이메일 중복 검사  -->
	<select id="checkEmail" parameterType="string" resultType="int">
		select count(*) from member_gg where member_email = #{member_email}
	</select>
	
	<!-- 닉네임 중복 검사  -->
	<select id="checkNickname" parameterType="string" resultType="int">
		select count(*) from member_gg where nickname = #{nickname}
	</select>

</mapper>

