@charset "UTF-8";

.font-BS{
	font-family: 'Black Han Sans', sans-serif;
}
.font-PS{
	font-family: 'Poor Story', cursive;
}
.font-GD{
	font-family: 'Gothic A1',sans-serif;
}
.font-DH{
	font-family: 'Do Hyeon', sans-serif;
}
.font-NB{
	font-family: 'Nanum Brush Script', cursive;
}
.font-NP{
	font-family: 'Nanum Pen Script', cursive;
}
.font-NS{
	font-family: 'Noto Serif KR', serif;
}
.width-10{
	width: 10px;
}	
.width-20{
	width: 20px;
}	
.width-30{
	width: 30px;
}	
.width-40{
	width: 40px;
}	
.width-50{
	width: 50px;
}	
.width-60{
	width: 60px;
}	
.width-70{
	width: 70px;
}	
.width-80{
	width: 80px;
}	
.width-90{
	width: 90px;
}	
.width-100{
	width: 100px;
}	
.height-10{
	height: 10px;
}
.height-20{
	height: 20px;
}
.height-30{
	height: 30px;
}
.height-40{
	height: 40px;
}
.height-50{
	height: 50px;
}
.height-60{
	height: 60px;
}
.height-70{
	height: 70px;
}
.height-80{
	height: 80px;
}
.height-90{
	height: 90px;
}
.height-100{
	height: 100px;
}
.height-200{
	height: 200px;
}
.height-250{
	height: 250px;
}
.height-300{
	height: 300px;
}
.height-400{
	height: 400px;
}
.height-500{
	height: 500px;
}
.bg-silver{
	background-: #bebebe;
}
.bg-black{
	background-color: black;
}
.bg-red{
	background-color: red;
}
.bg-blue{
	background-color: blue;
}
.bg-green{
	background-color: green;
}
.bg-yellow{
	background-color: yellow;
}
.bg-gold{
	background-color: gold;
}
.bg-gray{
	background-color: gray;
}
.pd-zero{
	padding: 0 0 0 0;
}	
.pd-top-5{
	padding-top: 5px;
}
.pd-top-10{
	padding-top: 10px;
}
.pd-top-15{
	padding-top: 15px;
}
.pd-top-20{
	padding-top: 20px;
}
.pd-bottom-5{
	padding-bottom: 5px;
}
.pd-bottom-10{
	padding-bottom: 10px;
}
.pd-bottom-15{
	padding-bottom: 15px;
}
.pd-bottom-20{
	padding-bottom: 20px;
}
.pd-right-0{
	padding-right: 0px;
}
.pd-right-5{
	padding-right: 5px;
}
.mar-right-5{
	margin-right: 5px;
}
.mar-right-10{
	margin-right: 10px;
}
.mar-right-15{
	margin-right: 15px;
}
.mar-right-30{
	margin-right: 30px;
}
.mar-right-40{
	margin-right: 40px;
}
.mar-right-50{
	margin-right: 50px;
}
.mar-right-80{
	margin-right: 80px;
}
.mar-right-150{
	margin-right: 150px;
}				
.mar-left-5{
	margin-left: 5x;
}
.mar-left-10{
	margin-left: 10px;
}
.mar-left-15{
	margin-left: 15px;
}
.mar-left-20{	
	margin-left: 20px;
}
.mar-left-30{
	margin-left: 30px;
}
.mar-left-40{
	margin-left: 40px;
}
.mar-left-50{
	margin-left: 50px;
}
.mar-left-150{
	margin-left: 150px;
}
.mar-left-100{
	margin-left: 100px;
}
.mar-top-5{
	margin-top: 0px;
}
.mar-top-5{
	margin-top: 5px;
}
.mar-top-10{
	margin-top: 10px;
}
.mar-top-20{
	margin-top: 20px;
}
.mar-top-25{
	margin-top: 25px;
}
.mar-top-30{
	margin-top: 30px;
}
.mar-top-40{
	margin-top: 40px;
}
.mar-top-50{
	margin-top: 50px;
}
.mar-top-100{
	margin-top: 100px;
}
.mar-top-150{
	margin-top: 150px;
}
.mar-top-160{
	margin-top: 160px;
}
.mar-top-200{
	margin-top: 200px;
}
.mar-top-300{
	margin-top: 300px;
}
.mar-top-400{
	margin-top: 400px;
}
.mar-top-500{
	margin-top: 500px;
}
.mar-bottom-10{
	margin-bottom: 10px;
}
.mar-bottom-20{
	margin-bottom: 20px;
}
.mar-bottom-30{
	margin-bottom: 30px;
}
.mar-bottom-40{
	margin-bottom: 40px;
}
.mar-bottom-50{
	margin-bottom: 50px;
}
.mar-bottom-100{
	margin-bottom: 100px;
}
.mar-bottom-200{
	margin-bottom: 200px;
}
.mar-bottom-300{
	margin-bottom: 300px;
}
.mar-bottom-400{
	margin-bottom: 400px;
}
.mar-bottom-500{
	margin-bottom: 500px;
}
.width-100p{
	width: 100%;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-white{
	color: white;
}
.text-black{
	color: black;
}
.text-color-g1{
	color: #5D5D5D;
}
.text-color-g2{
	color: #8C8C8C;
}
.text-color-g3{
	color: #BDBDBD;
}
.text-color-g4{
	color: #EAEAEA;
}
.text-underline{
	border-bottom: 2px solid #5BC0DE;
}
.btn-right{
	align-items: right;
}
.max-width-200{
	max-width: 200px;	
}
.max-width-300{
	max-width: 300px;	
}
.max-width-400{
	max-width: 400px;	
}
.max-width-600{
	max-width: 600px;	
}
.max-width-700{
	max-width: 700px;	
}
.max-width-1000{
	max-width: 1000px;	
}
.max-width-1300{
	max-width: 1300px;	
}
.max-width-1500{
	max-width: 1500px;	
}
.max-width-1800{
	max-width: 1800px;	
}
.max-width-1920{
	max-width: 1920px;	
}
.max-width-2000{
	max-width: 2000px;	
}
.pad-0{
	padding: 0 0 0 0;
}
.line-a{
	border-bottom: 1px silver solid;	
}
.border-under-a{
	border-bottom: 1px solid #e2e2e2;
}
.div-center{
	margin: 0 auto;
}
.help-block{
  display: none;
}
.posi-absolute{
	position: absolute;
}
.posi-bottom-0{
	bottom: 0px;
}
.hf a{ 
	text-decoration:none;
	color: black;
}
.border-bottom-g1{
	border-bottom: 1px solid #5D5D5D;	
}
.border-bottom-g2{
	border-bottom: 1px solid #8C8C8C;	
}
.border-bottom-g3{
	border-bottom: 1px solid #BDBDBD;	
}
.border-bottom-g4{
	border-bottom: 1px solid #EAEAEA;	
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #BDBDBD;
}
::-webkit-scrollbar-thumb:hover {
  background: #8C8C8C;
}
